<!DOCTYPE html>
<html lang="sv">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', '{{ googleAnalyticsId }}');
        </script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{ description }}" />

        <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png" />
        <link rel="manifest" href="/img/icons/site.webmanifest" />
        <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="shortcut icon" href="/img/icons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="/img/icons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="stylesheet" href="/styles/main.css" />
        <title>{{ title }} | {{ pageTitle }}</title>
    </head>
    <body>
        <div class="page-container">
            <div class="mobile-menu">
                <a class="mobile-menu__trigger js-mobile-menu-trigger" href="#">&#9776;</a>
                <h1>
                    <a href="/index.html">{{ pageTitle }}</a>
                </h1>
            </div>

            <aside class="menu js-menu">
                <div class="menu__content">
                    <h1>
                        <a href="/index.html">{{ pageTitle }}</a>
                    </h1>

                    <nav>
                        <ul>
                            <li><a href="/ideologi.html">Ideologi</a></li>
                            <li><a href="/skatt.html">Skatt</a></li>
                            <li><a href="/branscher.html">Branscher</a></li>
                            <li><a href="/sociala-natverk.html">Sociala nätverk</a></li>
                            <li><a href="/terminologi">Terminologi</a></li>
                        </ul>
                    </nav>

                    <h2>Marknaden</h2>

                    <nav>
                        <ul>
                            <li><a href="/marknaden/byteshandel.html">Byteshandel (Trading)</a></li>
                            <li><a href="/marknaden/kryptohandlare.html">Kryptohandlare (Exchanges)</a></li>
                            <li><a href="/marknaden/planbocker.html">Plånböcker</a></li>
                        </ul>
                    </nav>

                    <h2>Tekniker</h2>

                    <nav>
                        <ul>
                            <li><a href="#">Blockkedjor</a></li>
                            <li><a href="#">Riktade acykliska grafer</a></li>
                            <li><a href="#">Hashgrafer</a></li>
                            <li><a href="#">Proof of Work</a></li>
                            <li><a href="#">Proof of Stake</a></li>
                            <li><a href="#">Byzantine Fault Tolerance</a></li>
                            <li><a href="#">Smarta kontrakt</a></li>
                            <li><a href="#">Lightning network</a></li>
                        </ul>
                    </nav>

                    <h2>Kryptovalutor</h2>

                    <nav>
                        <ul>
                            <li><a href="#">Bitcoin</a></li>
                            <li><a href="#">Ethereum</a></li>
                            <li><a href="#">XRP (Ripple)</a></li>
                            <li><a href="#">Litecoin</a></li>
                            <li><a href="#">Cardano</a></li>
                            <li><a href="#">TRON</a></li>
                            <li><a href="#">Stellar</a></li>
                            <li><a href="#">Monero</a></li>
                            <li><a href="#">NEO</a></li>
                            <li><a href="#">IOTA</a></li>
                            <li><a href="#">VeChain</a></li>
                            <li><a href="#">NANO</a></li>
                        </ul>
                    </nav>

                    <nav>
                        <ul>
                            <li><a href="#">Om webbplatsen</a></li>
                            <li><a href="#">Donationer</a></li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <article class="article">
                <div class="article__content">{{{ contents }}}</div>
            </article>
        </div>

        <script src="/js/main.js"></script>
        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
