@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');

$mobileBreakPoint: 1000px;

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Tinos', serif;
    font-size: 20px;
    margin: 0;
}

/* structure */

.container {
    display: flex;
    justify-content: stretch;

    @media (max-width: $mobileBreakPoint) {
        display: block;
    }
}

.main-menu {
    position: relative;
    flex: 1 0 250px;
    background-color: #000;
    color: #fff;
    font-size: 85%;
    max-width: 250px;
    padding: 0.5em 0;

    &__content {
        position: fixed;
        width: calc(250px - 2em);
        height: 98vh;
        overflow-y: auto;
        background-color: #000;
        padding: 0 1em 1em 1em;

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #000;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #666;
        }

        @media (max-width: $mobileBreakPoint) {
            top: 20px;
            left: 0;
            padding: 1em;
            width: calc(100% - 2em) !important;
        }
    }

    @media (max-width: $mobileBreakPoint) {
        transform: translateX(-500px);
        transition: transform 250ms;
        flex: 1 0 100%;
        max-width: 100%;

        &--active {
            transform: translateX(0);
        }
    }
}

.article {
    flex: 1 0 auto;
    padding: 0 1em;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    background: #000;
    color: #fff;
    z-index: 2;

    &__trigger {
        font-size: 1.7em;
        color: #fff;
        text-decoration: none;
        margin: 0 0.2em;
    }

    h1 {
        font-size: 2em;
        display: inline;
        margin: 0;
    }

    @media (max-width: $mobileBreakPoint) {
        display: block;
    }
}

/* **************** */

.main-menu a,
.main-menu a:hover,
.main-menu a:visited {
    color: #fff;
    text-decoration: none;
}

.main-menu a:hover {
    color: #fff;
    text-decoration: underline;
}

.main-menu h2 {
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: block;
    margin: 0.5em 0;
}

.article__content {
    max-width: 768px;
    margin: 0 auto;
    line-height: 1.6;

    h1 {
        font-size: 2.5em;
        border-bottom: 1px #c7c7c7 solid;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    a {
        color: #004093;
    }
}
